

@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed');

.menu {
	font-family: Arial, Helvetica, sans-serif;
	min-width: 330px;
	color: rgba(0, 255, 13, 0.7
);
	position: absolute;
  padding: 8px;
  background-color: rgba(255, 123, 0, 0.9);
  border-radius: 5px;
  border: 2px solid #000;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 255, 255, 0.7);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 255, 13, 0.7);
  box-shadow: 0px 8px 20px 0px rgba(0, 255, 13, 0.7);
}

.header-image {
  background: url('https://cdn.discordapp.com/attachments/845169453062553631/848097258411261992/TAPATIO.png');
  background-size: 56%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.head {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.categorie {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.menu .head {
	text-align: center;
	height: 30px;
  color: black;
  font-weight: 300;
	line-height: 27px;
  font-size: 13px;
}

.menu .menu-items {
	max-height: 525px;
	overflow-y: auto;
  font-weight: 500;
  --background: #00ff0d;
}

.menu .menu-items .menu-item {
	display: block;
  padding: 7px;
  font-size: 14px;
	text-align: left;
  text-indent: 5px;
  margin-top: 5px;
  background-color: rgba(0, 255, 13, 0.7);
  color: white;
  border-radius: 7px;
  border: 2px solid #242424;
}

.menu .menu-items .menu-item.selected {
  background: #161618;
  border: 2px solid #00ff0d;
  border-radius: 7px;
  color: white;
}

.head > span {
  position: relative;
  display: inline-block;
}

.head > span::before,
.head > span::after {
  content: "";
  position: absolute;
  top: 52%;
  width: 9999px;
  height: 0.5px;
  background: white;
}

.head > span::before {
  right: 105%;
  margin-right: 15px;
}

.head > span::after {
  left: 105%;
  margin-left: 15px;
}



.menu.align-left {
	right: 40;
	bottom: 40;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	right: 40;
	bottom: 40;
}

.menu.align-top {
	right: 40;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 40;
	bottom: 40;
}

.menu.align-right {
	right: 40;
	bottom: 40;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	right: 40;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	right: 40;
	bottom: 40;
}

.menu.align-center {
	right: 40;
	bottom: 40;
	transform: translate(-50%, -50%);
}

/* WebKit scrollbar properties */
::-webkit-scrollbar {
  width: 8px;
  border-left: 4px solid #16161d;
}
::-webkit-scrollbar-track {
  background: #16161d;
  border-left: 4px solid #16161d;
}
::-webkit-scrollbar-thumb {
  background: #16161d;
  border-left: 4px solid #16161d;
}
::-webkit-scrollbar-thumb:hover {
  background: #16161d;
  border-left: 4px solid #16161d;
}


