#ex1Slider .slider-selection {
	background: rgb(243, 8, 8);
}

#ex2Slider .slider-selection {
	background: rgb(243, 8, 8);
}

#ex3Slider .slider-selection {
	background: rgb(243, 8, 8);
}

#ex4Slider .slider-selection {
	background: rgb(243, 8, 8);
}

#ex5Slider .slider-selection {
	background: rgb(243, 8, 8);
}


#ex1Slider {
	width: 96%;
	margin-left: 10px;

}

#ex2Slider {
	width: 96%;
	margin-left: 10px;
}
#ex3Slider {
	width: 96%;
	margin-left: 10px;
}
#ex4Slider {
	width: 96%;
	margin-left: 10px;
}
#ex5Slider {
	width: 96%;
	margin-left: 10px;
}

.btn-primary {
	margin-left: 10px!important;
	background-color: red!important;
}


p {
	margin-top: 5px;
	margin-left: 10px;
}