@font-face {
    font-family: 'pricedownblack';
    src: url('gtafont.woff2') format('woff2'), url('gtafont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'pricedownblack';
    font-size: 37.5px;
}

#content {
    position: fixed;
    top: 15px;
    left: 15px;
}

#content span {
    color: rgb(255, 174, 0);
}